<!--a draggable element-->
<div [dndDraggable]="draggable.data"
     [dndEffectAllowed]="draggable.effectAllowed"
     [dndDisableIf]="draggable.disable"
     (dndStart)="onDragStart($event)"
     (dndCopied)="onDraggableCopied($event)"
     (dndLinked)="onDraggableLinked($event)"
     (dndMoved)="onDraggableMoved($event)"
     (dndCanceled)="onDragCanceled($event)"
     (dndEnd)="onDragEnd($event)">

  <!--if [dndHandle] is used inside dndDraggable drag can only start from the handle-->
  <div *ngIf="draggable.handle"
           dndHandle>
  </div>
<!--  <span [hidden]="!draggable.disable">DISABLED</span>-->
  <!--optionally select a child element as drag image-->
  <div dndDragImageRef>
      <div class="card card-coin card-plain">
          <div class="card-header" style="margin-top: 0px;">
              <img class="img-center img-fluid" src="assets/img/banner-image.png"/>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h4 class="text-uppercase">Heading</h4>
                      <span> Sub heading </span>
                      <hr [class]="backgroundStyle"/>
                  </div>
              </div>
              <div class="row">
                  <ul class="list-group">
                      <li class="list-group-item">content</li>
                  </ul>
              </div>
          </div>
          <div class="card-footer text-center">
              <button [class]="'btn btn-simple '+backgroundStyle">Button</button>
          </div>
      </div>
  </div>
</div>
