<nav
        class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="100"
        id="navbar-top"
>
    <div class="container">
        <div class="navbar-translate">
            <a
                    class="navbar-brand"
                    [routerLink]="['/landing']"
                    placement="bottom"
            >
                <span> iWeb• </span> Build your next project faster
            </a>
            <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="navigation"
                    type="button"
            >
                <span class="navbar-toggler-bar bar1"> </span>
                <span class="navbar-toggler-bar bar2"> </span>
                <span class="navbar-toggler-bar bar3"> </span>
            </button>
        </div>
        <div
                class="navbar-collapse justify-content-end"
                [collapse]="isCollapsed"
                id="navigation"
        >
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> iWeb• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button
                                aria-controls="navigation-index"
                                aria-label="Toggle navigation"
                                class="navbar-toggler"
                                [attr.aria-expanded]="!isCollapsed"
                                (click)="isCollapsed = !isCollapsed"
                                id="navigation"
                                type="button"
                        >
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="dropdown nav-item" dropdown>
                    <a
                            class="dropdown-toggle nav-link dropdown-toggle"
                            data-toggle="dropdown"
                            dropdownToggle
                            href="javascript:void(0)"
                    >
                        <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Getting started
                    </a>
                    <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/register']">
                            <i class="tim-icons icon-bullet-list-67"> </i> Register
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']">
                            <i class="tim-icons icon-image-02"> </i> Login
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <section class="section section-lg section-coins" style="margin-top: 10px;">
        <img class="path" src="assets/img/path3.png"/>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr class="line-info"/>

                    <h1>
                        Choose the plan
                        <span class="text-info"> that fits your needs </span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid" src="assets/img/price1.png"/>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Personal</h4>
                                    <span> Plan </span>
                                    <hr class="line-primary"/>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">1 Website</li>
                                    <li class="list-group-item">4 Pages</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple">Get plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid" src="assets/img/price2.png"/>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Intermediate</h4>
                                    <span> Plan </span>
                                    <hr class="line-success"/>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">2 Websites</li>
                                    <li class="list-group-item">100 Pages</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-success btn-simple">Get plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid" src="assets/img/price3.png"/>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Business</h4>
                                    <span> Plan </span>
                                    <hr class="line-info"/>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">5 Websites</li>
                                    <li class="list-group-item">Unlimited pages</li>
                                    <li class="list-group-item">24/7 Support</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-info btn-simple">Get plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><h1 class="title">iWeb•</h1></div>
                <div class="col-md-4">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/landing']"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/plans']"> Plans </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/login']"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/register']"> Register </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/#']">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/#']">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/#']">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/#']">
                                License
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
